.event-item {
  padding: 10px 20px;
  position: relative;
}
.event-item .block {
  border: 1px solid #f4f4f4;
  transition: 0.3s;
  position: relative;
  z-index: 10;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: rgba(12, 56, 145, 0.05) 4px 4px 4px 0px;
}
.event-info {
  padding: 30px 20px;
  text-align: left;
  font-weight: 300;
}
.event-time {
  font-size: 23px;
  line-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: 500;
  color: #1e0a3c;
}

.event-price {
  font-size: 23px;
  line-height: 50px;
  font-weight: 500;
}

.event-item a:hover .event-title {
  color: #f05537;
}

.event-item:hover .block {
  border-color: transparent;
  box-shadow: rgba(12, 56, 145, 0.2) 4px 4px 4px 0px;
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.event-title {
  transition: color 0.3s;
  margin-top: 10px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}
.event-description {
  color: #888888;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}
.colored-box {
  display: inline-block;
  border-radius: 10px;
  background-color: rgb(240, 186, 175);
  padding: 5px;
  font-size: 12px;
  width: auto;
  margin-right: 5px;
}
.list-view {
  width: 100%;
}
.list-view p {
  margin-bottom: 0;
}
.list-view .block {
  display: flex;
  align-items: baseline;
}

.list-view.event-item {
  padding: 2px;
}
.list-view .event-info {
  width: 100%;
  padding: 10px 30px;
}
.list-view .event-info {
  width: 100%;
  padding: 10px 30px;
  font-size: 16px;
}
.list-view .event-info * {
  font-size: 16px;
}
.list-view .event-info .colored-box {
  font-size: 12px;
}
.list-view .event-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.list-view .event-location {
  display: none;
}
.list-view .event-info a {
  max-width: 65%;
  width: 65%;
}
.list-view .event-info .event-title {
  max-width: 100%;
  width: 100%;
  text-align: left;
  font-size: 20px !important;
}
.list-view .event-image {
  width: 300px;
  height: auto;
  max-height: 120px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 10px;
}
.grid-view {
  display: block;
}
.text-black:hover .event-title {
  color: #f05537;
}
.action-buttons {
  width: 250px;
  margin: 0 auto;
}
.action-buttons a {
  background: transparent;
  padding: 10px;
  display: inline-block;
  transition: all 0.2s ease-in;
}
.action-buttons a:hover {
  border-color: transparent;
  outline: none;
  transform: scale(1.2);
}
.action-buttons i {
  color: #f0927f;
  transition: all 0.2s ease-in;
}
.action-buttons a:hover i {
  color: #f05537;
}
.event-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.published {
  margin-left: 10px;
  background-color: #abff00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px,
    #89ff00 0 2px 12px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.pending {
  margin-left: 10px;
  background-color: rgb(236, 21, 21);
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
    rgba(198, 17, 17, 0.5) 0 2px 12px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
