.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.pagination button {
  width: 40px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  margin: 0 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: #f0baaf;
  color: #fff;
  border-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button.active {
  font-weight: 900;
  border-color: #fff;
  background: #f05537;
  color: #fff;
}
